<% for post in @posts do %>
	<article>
		<h3 class="title"><%= link_to post.title, post %><a></h3>
		<span style="font-size: 12px; color: #999"><%= post.excerpt %></span>
		<p><%= post.body %></p>
		<p>
			<%= raw "Comments: #{h post.comments.count} <br />" if post.allow_comments %>
			<%= "Created by: #{post.user.name}" if post.user %>
			<%= "Created at: #{post.created_at.strftime('%d/%m/%Y %H:%M')} " if post.created_at %>
		</p>
		<hr />
	</article>
<% end %>