<h3 class="title"><%= @post.title %></h3>
<span style="font-size: 12px; color: #999"><%= @post.excerpt %></span>
<p><%= @post.body %></p>
<br />
<%= raw "Comments: #{h @post.comments.count} <br />" if @post.allow_comments %>
<%= "Created by: #{@post.user.name}" if @post.user %>
<%= "Created at: #{@post.created_at.strftime('%d/%m/%Y %H:%M')} " if @post.created_at %>
<hr />