<!DOCTYPE html>
<html>
<head>
  <title>TddBlog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="logo">Tdd Blog</div>
	<div id="container">
		<%= yield %>
	</div>
	<footer>
		<span>Josemar Davi Luedke</span>
		<%= image_tag 'rails.png' %>
	</footer>
</body>
</html>
